doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="robots", content="noindex,nofollow")
    meta(name="format-detection", content="telephone=no")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description", content="")
    meta(name="keywords", content="")
    title Document1
    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css")
  body.body(ontouchstart="")
    header
      .header
        .header_logo
          a(href="#")
            img(src="img/logo.svg", alt="logo")
        .header_menu
          ul.header_menu_left
            each value in ["ホーム", "当社の強み", "サービス内容", "概要", "よくある質問"]
              li: a(href="#") #{value}
            li: a(href="#") ホーム
            li: a(href="#") 当社の強み
            li: a(href="#") サービス内容
            li: a(href="#") 概要
            li: a(href="#") よくある質問
          .header_menu_right
            .header_menu_right_tell
              p 0523458
              p 営業時間9:00～17:30
                br
                | #[span 定休日：月・火・水]
            .header_menu_right_btn
              p pタグです
                span spanタグです
                | pタグの続きです
              .sw-ResponsiveEmbed.
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12966.991898658345!2d139.7454329!3d35.6585805!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x481a93f0d2a409dd!2z5p2x5Lqs44K_44Ov44O8!5e0!3m2!1sja!2sjp!4v1491922441312" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            .header_menu_right_tell
              p 0523458
              p 営業時間9:00～17:30



    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
